html{
    scroll-behavior: smooth;
}
.img-logo{
    width: 4rem;
}
.section{
    padding: 6rem 0;
}
.img{
    width: 100%;
}
.mt-n8{
    margin-top: -5.5rem;
}
video{
    width: 100%;
}
iframe{
    width: 100%;
    height: 400px;
}